@import 'https://naduan.com/style/font/merriweather/font.css';

html, body, ul, li, p, h1, h2, h3, h4, h5, h6, table, header, header.a {
	font-family: "Merriweather", "Sarasa UI TC", "PingFang TC", "PingFang SC", "Noto Sans TC", "Noto Sans SC", "IBM Plex Sans TC", "IBM Plex Sans SC", "Source Han Sans TC", "Source Han Sans SC", "Noto Sans CJK TC", "Hiragino Sans TC", "Hiragino Sans GB", "XHei", "Microsoft YaHei", "Cambria", "Microsoft Jhenghei", "PMingLiU";
}

header,header.a{
	font-weight: normal;
}

@media all {
	html {
		font-size: 17px;
	}
	body > * {
		font-size: 110%;
		margin-left: 7.5rem;
		margin-right: 7.5rem;
	}
}
@media all and (max-width:840px){
	html {
		font-size: 17px;
	}
	body > * {
		font-size: 100%;
		margin-left: 5.5rem;
		margin-right: 5.5rem;
    }
}
@media all and (max-width:760px){
	html {
		font-size: 17px;
	}
	body > * {
		font-size: 100%;
		margin-left: 2.5rem;
		margin-right: 2.5rem;
    }
}
@media all and (max-width:580px){
	html {
		font-size: 17px;
	}
	body > * {
		font-size: 100%;
        margin: 0.7rem 1.5rem 0rem 1.5rem;
    }
}

/* reset */
* {
margin: 0;
padding: 0;
}

html {
    height: 100%;
}

body {
    -webkit-text-size-adjust: 100% !important;
    -moz-text-size-adjust: 100% !important;
	padding: 0rem 0em 0rem 0em;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	max-width:1000px;
	min-height: 100%;
}

div.content { 
    display: block; 
    padding: 1rem 0rem 1rem 0;
}

header {
	display:block;
	padding: 0.5rem 0 0.5rem 0;
	border-bottom: 0.10em solid #d21c1c;
}

footer {
	display:block;
	padding: 0.5rem 0 5.5rem 0;
}

@media all and (max-width:520px) {
    div.content { 
    	padding: 0;
    }
}

h1,h2,h3,h4,h5,h6 {
	display: block;
	line-height: 1.4;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-top: 0.02em;
}

h1 {
	font-size: 170%;
}

h2 {
	font-size: 140%;
}

h3 {
	font-size: 120%;
}

h4 {
	font-size: 100%;
}

h5 {
	font-size: 80%;
}

h6 {
	font-size: 60%;
}

aside {
	font-size: 0.84rem;
	line-height: 1.20;
	color: #667;
}

aside em {
	font-size: 0.7rem;
}


p {
	margin-bottom: 1em;
	line-height: 1.6;
}

ul,ol {
	margin-bottom: 1em;
	padding-left: 1em;
}

li {
	line-height: 1.6;
}


table { 
	margin-bottom: 1.5em;
	border-collapse: collapse;
	width: 95%;
}

table tr + tr {
	border-top: 1px solid #ccc;
}
table td + td {
	border-left: 1px solid #ccc;
}

table td {
	padding: 0.4em;
	text-align: center;
	hyphens: none;
}

table th {
	font-weight: normal;
	font-size: 95%;
	padding: 0.3rem 0.5rem 0.3rem 0.5rem;
	line-height: 1.05;
}

img {
	width: 100%;
	border-radius: 25px;
}


a {
	text-decoration: none;
	color: inherit;
	-moz-transition-property: background;
	-webkit-transition-property: background;
	transition-property: background;
	-moz-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}


div.nav a:active div { 
	background: #cacaca;
}

a:active { 
	color: #777; 
}

a:hover {
	background: #fbf3f3;
	-moz-transition-property: background;
	-webkit-transition-property: background;
	transition-property: background;
	-moz-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	border-radius: 10px;
}


a:after {
    position: relative;
    content: "";
    margin-left: 0.10em;
    font-size: 80%;
    top: -0.30em;
    left: -0.1em;
    color: #d21c1c;
}


